

.body {
    height: 200px;
    width: 200px;
    background: #ecf0f1;
    box-shadow: -13px -8px 0px rgba(0,0,0,0.1) inset;
    border-radius: 50%;
    position: relative;
    top: 20vh;
    z-index: 20;
}

.body::after {
    height: 160px;
    width: 160px;
    background: #ecf0f1;
    box-shadow: -7px -5px 0px rgba(0,0,0,0.1) inset;
    border-radius: 50%;
    display: inline-block;
    content: '';
    position: relative;
    top: -97px;
    left: 20px;
}

.nose {
    height: 0px;
    width: 0px;
    border-style: solid;
    border-width: 8px 41px 8px 0px;
    border-color: transparent #fa9a20 transparent transparent;
    position: absolute;
    top: -145px;
    display: inline-block;
    left: 50px;
    transform: rotate(10deg);
    box-shadow: 0px 43px rgba(0,0,0,0.2) inset;
    z-index: 30;
    transition: top, transform;
    transition-duration: 1.2s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
}

.eyes {
    content: '';
    position: absolute;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #2c3e50;
    display: inline-block;
    top: 32px;
    left: 27px;
    z-index: 30;
}

.eyes::after {
    content: '';
    position: absolute;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #2c3e50;
    display: inline-block;
    top: 1px;
    left: 20px;
}

.scarf {
    height: 0;
    position: absolute;
    border-bottom: 21px solid rgb(243, 77, 77);
    border-left: 18px solid transparent;
    border-right: 29px solid transparent;
    width: 104px;
    top: -101px;
    z-index: 30;
    left: 50px;
    border-radius: 0px 100% 5px 10px;
}

.scarf::after {
    height: 17px;
    width: 74px;
    transform: rotate(86deg);
    background: rgb(243, 77, 77);
    display: inline-block;
    content: '';
    position: absolute;
    top: 34px;
    left: 15px;
    border-radius: 50% 0% 50% 50%;
    box-shadow: -4px 0px rgba(0,0,0,0.1) inset;
}

.left-hand{
    position: absolute;
    top: -30px;
    left: -10px;
    transform: rotate(15deg);
    border-bottom: 6px solid rgba(151, 102, 13, 1);
    border-left: 2px solid transparent;
    border-right: 0 solid transparent;
    height: 0;
    width:36px;
    transition: top, transform;
    transition-duration: 1.2s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
}

.left-hand::before{
    content: '';
    width: 81px;
    left: -78px;
    position: absolute;
    display: inline-block;
    transform: rotate(-12deg);
    top: 8px;
    border-bottom: 7px solid rgba(128, 84, 6, 1);
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    height: 0;
    z-index: 30;
}

.left-hand::after {
    content: '';
    position: absolute;
    height: 0;
    width: 47px;
    left: -84px;
    display: inline-block;
    top: 3px;
    transform: rotate(17deg);
    border-bottom: 4px solid rgba(128, 84, 6, 1);
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-radius: 20px 50% 10% 20%;
}

.right-hand{
    position: absolute;
    top: -30px;
    left: 150px;
    transform: rotate(-12deg);
    border-bottom: 6px solid rgba(151, 102, 13, 1);
    border-left: 2px solid transparent;
    border-right: 0 solid transparent;
    height: 0;
    width: 66px;
    transition: top, transform;
    transition-duration: 1.2s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
}

.right-hand::before{
    content: '';
    width: 80px;
    left: 60px;
    position: absolute;
    display: inline-block;
    transform: rotate(10deg);
    top: 7px;
    border-bottom: 6px solid rgba(128, 84, 6, 1);
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    height: 0;
    z-index: 30;
}

.right-hand::after {
    content: '';
    position: absolute;
    height: 0;
    width: 47px;
    left: 60px;
    display: inline-block;
    top: -6px;
    transform: rotate(-16deg);
    border-bottom: 4px solid rgba(128, 84, 6, 1);
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-radius: 20px 50% 10% 20%;
}

.hat {
    position: absolute;
    top: -62px;
    left:30px;
    transform: rotate(10deg);
    border-radius: 0;
    border-top: 56px solid rgb(37 37 37);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    height: 0;
    width: 60px;
    border-bottom: 27px solid rgb(246, 62, 62);
    z-index: -1;
}

.left-hand.left-hand-fall {
    transition: top, transform;
    transition-duration: 0.7s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    top: 190px;
    transform: rotate(-12deg);
}

.right-hand.right-hand-fall {
    transition: top, transform;
    transition-duration: 0.7s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    top: 190px;
    transform: rotate(15deg);
}

.nose.nose-fall {
    transition: top, transform;
    transition-duration: 0.7s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    top: 210px;
    transform: rotate(170deg);
}

#head {
    transition: transform 1.2s linear 0s, translate 1.2s ease-in-out 0.4s, translate 0.8s ease-out 0s;
}

.head {
    height: 100px;
    width: 100px;
    background: #ecf0f1;
    box-shadow: -5px 0px 0px rgba(0,0,0,0.1) inset;
    border-radius: 50%;
    display: inline-block;
    content: '';
    position: absolute;
    top: -191px;
    left: 46px;
}

#head.head-fall {
    transition: transform 1.2s linear 0s, translate 1.2s ease-in-out 0s, translate 0.8s ease-in 0.4s;
    transform: rotate(96deg);
    translate: 10px 150px;
}