.game-container {
    width: 100vw;
    height: 100%;
    background: #2c3e50;
    color: white;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    overflow: hidden;
    justify-content: flex-start;
    z-index: 10;
}

.data {
    margin-top: 50px;
}

.guessbox {
    border-color: #614AEB;
}

button.alpha-button {
    margin: 0.25rem;
    color: white;
    width: 2rem;
    height: 2rem;
}

button.alpha-button:hover {
    background: rgba(255,170,43);
}

#guess-boxes {
    margin: 20px 0px 40px 0px;
}

.comps {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 300px;
}

.foreground {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    height: 100%;
    justify-content: space-evenly;
}

.signs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.background {
    margin-top: 220px;
    display: flex;
}

.figure {
    display: flex;
    transform: scale(1.2);
}

#snowfall-container {
    z-index: -1;
}

#ground {
    width: max-content;
    height: max-content;
    background-color: black;
}

.interactive {
    margin-top: 120px;
    margin-right: -30vw;
    position: absolute;

}

.record-sign {
    transform: translate(80px, 0px);
}

.score-sign {
    transform: translate(-80px, 0px);
}



@media only screen and (max-width: 1000px) {
    .figure {
        display: none;
        margin: 0px 0px 10px 0px;
    }

    .interactive {
        bottom: 100px;
        
        margin: auto;
    }

    .comps {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
    }

    .signs {
        transform: scale(.8);
    }
}