@tailwind base;
@tailwind components;
@tailwind utilities;

nav {
    height: 64px;
    width: 100vw;
    background: rgba(255,170,43);
    border-color: black;
    border-width: 1px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    z-index: 30;
    font-family: cursive;
    position: absolute;
    width: 100vw;
    justify-content: space-between;
}

.travel-div {
    z-index: 10;
}

.container {
    width: 100vw;
}

.title {
    font-size: 22px;
    font-weight: bold;
}

button {
    background: #614AEB;
    color: white;
    border-radius: 0.25rem;
    width: 120px;
}

button.isPending {
    background-color: rgb(107 114 128);
}

.games-modal {
    z-index: 30;
}

.fade-in {
    animation: fadeIn ease 1.5s;
    animation-fill-mode: forwards;
}

.fade-out {
    animation: fadeOut ease 1.5s;
    animation-fill-mode: forwards;
}

.hide {
    display: none !important;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.main-page {
    padding-top: 64px;
}

.header-tab {
    width: 120px;
    background: inherit;
    justify-content: center;
}

.games-tab {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.games-dropdown {
    position: absolute;
    border-radius: 4px;
    margin-top: 130px;
}