@tailwind base;
@tailwind components;
@tailwind utilities;

nav {
    background: rgb(255,170,43);
    border-color: black;
    border-width: 1px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    z-index: 30;
    font-family: cursive;
}

.travel-div {
    z-index: 10;
}

.title {
    font-size: 22px;
    font-weight: bold;
}

button {
    background: #614AEB;
    color: white;
    border-radius: 0.25rem;
    width: 120px;
}

button.isPending {
    background-color: rgb(107 114 128);
}

.games-modal {
    z-index: 30;
}

.games-tab {
    color: black;
}

nav {
    height: 64px;
    width: 100vw;
}

.main-page {
    padding-top: 64px;
}

